@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order
<div border="solid">
    <div border="10px solid #000000" margin="100px" padding="25px" background-color="lightblue">
        <form method="post">
            <p>Edit Order</p>
            <input for="TransactionId" type="hidden" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label id="CustomerId" for="CustomerId">Customer ID:</label>
                    <input id="CustomerId" for="CustomerId" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="Date" for="Date">Date:</label>
                    <input id="Date" for="Date" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="DayOfWeek" for="DayOfWeek">Day Of Week:</label>
                    <input id="DayOfWeek" for="DayOfWeek" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="Time" for="Time">Time:</label>
                    <input id="Time" for="Time" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="EntryMode" for="EntryMode">Entry Mode:</label>
                    <input id="EntryMode" for="EntryMode" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="Amount" for="Amount">Amount:</label>
                    <input id="Amount" for="Amount" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="TypeOfTransaction" for="TypeOfTransaction">Type Of Transaction:</label>
                    <input id="TypeOfTransaction" for="TypeOfTransaction" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="CountryOfTransaction" for="CountryOfTransaction">Country Of Transaction:</label>
                    <input id="CountryOfTransaction" for="CountryOfTransaction" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="ShippingAddress" for="ShippingAddress">Shipping Address:</label>
                    <input id="ShippingAddress" for="ShippingAddress" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="Bank" for="Bank">Bank:</label>
                    <input id="Bank" for="Bank" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="TypeOfCard" for="TypeOfCard">Type Of Card:</label>
                    <input id="TypeOfCard" for="TypeOfCard" required class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label id="Fraud" for="Fraud">Fraud:</label>
                    <select id="Fraud" for="Fraud" class="form-control">
                        <option value=null>-Select-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <br />
                <button type="submit">Confirm</button>
        </form>
    </div>
</div>
<br />
<br />
<br />