@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order

<h1>Confirmation</h1>

<h4>You are about to perform a dangerous action! Would you like to continue?</h4>
<br/>
<a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="Orders">Go Back (cancel)</a>
<a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteOrder" asp-route-orderid="@Model.TransactionId">Continue</a>