@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-8" style="background-color: #ffe786; border-style: solid; border-width: 10px; border-color: #ffd735; padding: 10px;">
            <h4 style="font-weight: bold;">Hey everyone, Aurora Brickwell here!</h4>
            <br/>
            <h6>If you peeked into my childhood bedroom, you'd probably trip over a sprawling Lego city 
                or find me meticulously constructing a fantastical spaceship, fueled by boundless creativity and a bucket overflowing with 
                colorful bricks. Legos haven't just been a toy for me; they've been a constant companion, a way to express myself, and a launchpad
                for endless imagination. Even now, years later, the thrill of clicking those little bricks together and transforming them into 
                something incredible hasn't diminished. From meticulously piecing together intricate mosaic portraits that capture the essence 
                of my favorite characters to building elaborate castles that rival any medieval masterpiece, Legos continue to be my creative 
                outlet, a source of joy, and a constant reminder of the boundless possibilities that lie within those tiny plastic squares.</h6>
        </div>
        <div class="col-4">
            <img src="~/img/brickwellmicrophone.jpeg" class="img-fluid" alt= "a lego version of Aurora Brickwell talking into a microphone" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" style="background-color: #ea4b51; border-style: solid; border-width: 10px; border-color: #e51e26; padding: 10px;">
            <h4 style="font-weight: bold;">How we got started...</h4>
            <br />
            <h6>
                But my path to becoming your go-to Lego guru, and the founder of Bricks Up, wasn't exactly paved with smooth, interlocking bricks. 
                It was a journey fueled by grit, a touch of adrenaline, and a healthy dose of self-discovery. Let's just say it involved a healthy 
                dose of inspiration from the motivational powerhouse, David Goggins. His relentless "can-do" attitude and never-give-up spirit 
                resonated deeply with me, pushing me to confront my own limitations and chase my dreams with unwavering determination. Then, there 
                was the, shall we say, "unforgettable" encounter with a rogue shark. Now, I won't go into too much detail because let's be honest, 
                who wants to relive a near-death experience? But let's just say it was a stark reminder of life's preciousness and the importance 
                of seizing every opportunity. Facing a toothy predator in the open ocean definitely puts things in perspective, you know? Fueled 
                by Goggins' unwavering spirit and the newfound clarity that comes with surviving a shark attack, I took a deep breath, stared down 
                my fears, and decided to turn my lifelong Lego obsession into something bigger than just personal enjoyment.
            </h6>
            </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <img src="~/img/brickwelloncomputer.jpeg" class="img-fluid" alt="a lego version of Aurora Brickwell typing on a computer" />
        </div>
        <div class="col-8" style="background-color: #33BF71; border-style: solid; border-width: 10px; border-color: #00AF4d; padding: 10px;">
            <h6>
                That's how Bricks Up was born. It's more than just a Lego resale company; it's a passion project fueled by the desire to create 
                a vibrant community for Lego enthusiasts of all ages. A place where seasoned builders can share their expertise and inspire others. 
                Bricks Up welcomes everyone, from Lego pros who can disassemble and rebuild the Millennium Falcon blindfolded to wide-eyed
                newcomers just starting out with a classic Duplo set. We offer overflowing bins of bricks, of course, but also a sense of 
                connection within the Lego community. I'm here not only to share my Lego love and inspire your next epic build, but also to 
                foster that connection. And hey, maybe we can even swap some harrowing (or hilarious) shark stories along the way.
            </h6>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" style="background-color: #599FD0; border-style: solid; border-width: 10px; border-color: #006CB7; padding: 10px;">
            <h6>
                Bricks up is more than just a Lego resale company, it's a community for builders of all ages. 
                A place where we can share our passion, score those hard-to-find sets, and keep those bricks out 
                of landfills. So buckle up, brick fans, it's gonna be a wild ride!
            </h6>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>