@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Contact Us";
}
<br />
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="https://www.google.com/maps/search/2251+Bricktopia+Boulevard+San+Diego,+CA+92101" style="text-decoration-line:none">
                <img src="~/img/address2.png" class="img-fluid"/>
                <br/>
                <p class="text-center" style="color: #E3000B;">2251 Bricktopia Boulevard <br />San Diego, CA 92101</p>
            </a>
        </div>
        <div class="col-4">
            <a href="tel:+16195556789" style="text-decoration-line:none">
                <img src="~/img/phone2.png" class="img-fluid" />
                <br />
                <p class="text-center" style="color: #00AF4D;">(619) 555-6789<p/>
            </a>
        </div>
        <div class="col-4">
            <a href="mailto:AbsolutelyBrickinCrazy@gmail.com? subject=My Privacy" style="text-decoration-line:none">
                <img src="~/img/email2.png" class="img-fluid" />
                <br />
                <p class="text-center" style="color: #006CB7;">AbsolutelyBrickinCrazy@gmail.com</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align:center">
            <img src="~/img/diversifyingminifigures.png" class="img-fluid" />
        </div>
    </div>
</div>
<br />
<br />
