@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@model CartCustomerOrderViewModel


@if (Model.Cart != null)
{
    <p>Your cart has @Model.Cart.Lines.Count items.</p>
}
else
{
    <p>Your cart is empty.</p>
}