@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-12" style="background-color: #d9d9d9; padding: 10px; border-radius: 10px;">
            <h3>Bricks Up Privacy Policy</h3>
            <h4>Effective Date: 4/8/2024</h4>


            <p>
                Bricks Up respects the privacy of our users. This Privacy Policy describes the types of information we collect from and about you when you visit our website (absolutelybrickincrazy.com) and our practices for collecting, using, maintaining, protecting, and disclosing that information.
            </p>
            <h5>Information We Collect</h5>
            <p>We collect several different types of information for various purposes to improve our services to you.</p>
            <p>
                Personal Information: We collect personal information that can directly or indirectly identify you, such as your name, email address, Birth date, phone number, and payment information. You provide this information when you place an order, create an account, or contact us.
            </p>
            <p>
                Non-Personal Information: We also collect non-personal information that does not directly identify you. This information may include your IP address, browser type, operating system, referring URL, browsing history on the Website, and information collected through cookies and other tracking technologies.
            </p>
            <h5>Use of Information</h5>

            <p>We use the information we collect for various purposes, including:</p>

            <ul>
                <li>To process your orders and deliver your LEGO sets.</li>
                <li>To make recommendations for you and others about which products you may like.</li>
                <li>To personalize your experience on the Website.</li>
                <li>To improve the Website and our services.</li>
                <li>To analyze how you use the Website.</li>
                <li>To comply with legal and regulatory requirements.</li>
            </ul>

            <h5>Data Retention</h5>

            <p>
                We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.
            </p>
            <h5>Your Rights under GDPR</h5>

            <p>
                If you are a resident of the European Economic Area (EEA) or a European Union citzen, you have certain rights under the General Data Protection Regulation (GDPR). These rights include:
            </p>
            <ul>
                <li>The right to be informed.</li>
                <li>The right to rectification.</li>
                <li>The right of access.</li>
                <li>The right to erasure.</li>
                <li>The right to restrict the processing of your data.</li>
                <li>The right to data portability.</li>
                <li>The right to object.</li>
                <li>Rights regarding automated profiling and decision making.</li>
            </ul>

            <p>To exercise any of these rights, please contact us using the contact information provided below.</p>

            <h5>Security</h5>

            <p>
                We take reasonable steps to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no internet transmission or electronic storage is ever completely secure. We cannot guarantee the security of your information.
            </p>
            <h5>Children's Privacy</h5>

            <p>
                Our Website is not directed to children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and you believe your child has provided us with personal information, please contact us so we can delete it.
            </p>
            <h5>Changes to this Privacy Policy</h5>

            <p>
                We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Website. You are advised to review this Privacy Policy periodically for any changes.
            </p>
            <h5>Contact Us</h5>

            <p>
                If you have any questions about this Privacy Policy, please contact us at:
            </p>
            <a href="mailto:AbsolutelyBrickinCrazy@gmail.com? subject=My Privacy">AbsolutelyBrickinCrazy@gmail.com</a>
            <br/>
            <a href="tel:+16195556789">(619) 555-6789</a>
        </div>
    </div>
</div>
<br />
<br />
<br />
