@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <img src="~/img/BrickwellConstructionNOBGsmall.png" style="display: block; margin-left:auto; margin-right:auto; width: 35%;" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <img src="~/img/oopsbigboy.png" style="display: block; margin-left:auto; margin-right:auto; width: 30%;" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h4 class="text-center">
                It seems there's a little hiccup with your order. <br />
                 We're just giving it an extra glance to ensure everything's A-OK. Thanks for your understanding – we'll have it sorted out in no time!
            </h4>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<br />
<br />
<br />