@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order


<a class="button" asp-area="" asp-controller="Home" asp-action="Orders" asp-route-ordernum=@Model.TransactionId>Orders</a>

